doctype html
html
  head
    title = page_title
    link rel="stylesheet" type="text/css" href="/assets/styles/reset.css"
    link rel="stylesheet" type="text/css" href="/assets/styles/styles.css"

  body
    .main-wrapper
      header
        .logo-header-wrapper
          span.logo i
          h1 Iron News
        nav.main-nav
          ul.main-nav-list
            - hack["main_nav_elements"].each do |item|
              li
                a.main-nav-link = item

        .login-wrapper
          a.login-link login

    section.main
      ol.list
        - hack["listings"].each do |listing|
          li
            .arrow
            h2.headline = listing["headline"]
            span.source
              a.source-link = listing["source"]
            p.supporting_text = listing["supporting_text"]

      a.more-link More

    footer
      nav.footer-nav
        ul.footer-nav-list
          - hack["footer_nav_elements"].each do |item|
            li
              a.footer-nav-link = item

      .search-wrapper
        label Search:
          input type="search" name="search"




