<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <title><%= @page_title %></title>
</head>

<body>
<div class="main-wrapper">
  <section class="main">
    <ol>
      <% @hack.each do |listing| %>
        <li>
          <h2 class="headline"><%= listing['headline'] %></h2>
          <span class="source"><%= listing['source'] %></span>
          <p class="supporting_text"><%= listing['supporting_text'] %></p>
        </li>
      <% end %>
    </ol>
  </section>
</div>
</body>
</html>