body {
  font-family: Verdana, sans-serif;
  color: #828282;
}

.main {
  background-color: #eef0f3;
  max-width: 960px;
  margin: 0 auto;
}

.headline {
  display: inline-block;
  color: #000000;
}

.source,
.supporting_text {
  font-size: 12px;
}

.list li {
  margin: 10px 0;
}
